{{define "title"}}Home{{ end }}

{{define "main"}}
<h2>Hi there, I'm yohamta!</h2>
<p>I'm in Tokyo, lately I develop a 2D game for mobile as a hobby.</p>

<h2>Development Progress</h2>
<div>
  <blockquote class="twitter-tweet">
    <p lang="ja" dir="ltr">
      ビームレーザー攻撃を実装しました。長距離を一瞬で貫通するので、複数の敵に大ダメージを与えられます。ただし、一発ごとのエネルギー消費が大きく連射できないので、なるべく正確に射撃する必要があります。<a
        href="https://twitter.com/hashtag/%E3%82%B2%E3%83%BC%E3%83%A0%E5%88%B6%E4%BD%9C?src=hash&amp;ref_src=twsrc%5Etfw"
        >#ゲーム制作</a
      >
      <a href="https://t.co/S1ZMyEJYn6">pic.twitter.com/S1ZMyEJYn6</a>
    </p>
    &mdash; yohamta@IndieGameDev (@spaceshooting99)
    <a
      href="https://twitter.com/spaceshooting99/status/1501615194837250048?ref_src=twsrc%5Etfw"
      >March 9, 2022</a
    >
  </blockquote>
  <script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
  ></script>
</div>
{{ end }}
