{{define "nav"}}
<nav>
    <div>
        <a href="/">Home</a>
        <span>|</span>
        <a href="https://github.com/yohamta">GitHub profile</a>
        <span>|</span>
        <a href="https://twitter.com/spaceshooting99">Twitter</a>
        <span>|</span>
        <a href="https://yohamta.blogspot.com/">Blog</a>
        <span>|</span>
        <a href="yohamta@gmail.com">Contact</a>
    </div>
</nav>
{{end}}